{erl_opts, [
    fail_on_warning
]}.

{deps, [
    {eredis, {git, "https://github.com/wooga/eredis.git", {tag, "v1.2.0"}}},
    {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v1.7.4"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
    {zotonic_stdlib, {git, "https://github.com/zotonic/z_stdlib.git", {branch, "master"}}}
]}.

{plugins, [
    {ehcu, {git, "https://github.com/shuieryin/ehcu.git", {branch, "master"}}}
]}.

{minimum_otp_vsn, "18.1"}.