{erl_opts, [
%%     no_debug_info, trigger build
    native,
    {hipe, o3},
    fail_on_warning
]}.

{deps, [
    {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.8"}}},
    {uuid, {git, "git://github.com/okeuday/uuid.git", {tag, "v1.5.1.1"}}}
]}.

{plugins, [
    {ehcu, {git, "https://github.com/shuieryin/ehcu.git", {branch, "master"}}}
]}.

{minimum_otp_vsn, "18.1"}.